#container{
    margin: auto;
}
#filler{
    padding-bottom: 1rem;
}
#idForm {
    padding: 2000px;
    margin: auto;
    width: 100%;
    max-width: 420px;
    padding: 1rem;
    background-color: #EBF4FF;
    border-radius: 0.8rem;
}

form {
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #333030;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

.buttonSubmit {
  padding: 0.5rem;
  margin-top: 1rem;

}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #7a7777;
    color: #220202;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}