
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper {
    Background-color:#000406;
    padding:10px 20px;
    display:flex;
    justify-content:space-between;
    color:white;
}